:root {
	--dark: #303a3f;
	--clrb: #0ef;
	--shaadio: 0 0 8px rgba( 120, 120, 120, 0.8),
	      inset 5px 5px 6px rgba(255, 120, 120, 120, 0.8);
    --head: rgba( 0, 180, 250, 0.6);
	--shad: 10px 8px 3px rgba(0, 0, 0, 0.8);
}

* {
	margin: 0;
	padding:0 auto;
	box-sizing: border-box;
}

html {
	margin: 0 auto;
	padding: 0 20px 0 20px;
}

body {
	        display: block;
	        box-shadow: var(--shadio);
			margin: 0;
			text-align: center;
			background: black;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--head);
			background-color: var(--dark);
		}
		
		body div {
			display: flex;
		  color: #eef ;
		  border: 3px solid #ddd;
		  box-shadow: var(--shad);
		  text-shadow: 0 0 10px #eee;
		}
		
		.canvas {
			border: 3px solid #0af;
			border-radius: 5px;
			background-color: rgba( 10, 58, 113, 0.4);
			color: #eee;
			overflow: hidden;
		}
		
		.display-none {
          display: none;
        }
		
		canvas {
         width:100%;		 
		 background-color: transparent;
		}
	    .wrapper {
		  margin: 10px;
		  padding: 10px;
		}
	    .wrapper .box {
		  position: absolute;
		  width: Calc(100vh - 20%)/2;
		  /*height: 80vh;*/
		  border: 10px dashed #3ddd3d;
		  text-shadow: 0 0 10px 0;
		  border-radius: 10px;
		}
		
		.box {
		  background-color: #4d4;
		}
		
		h1 {
		  box-shadow: inset 10px 5px 10px 10px var(--head);
		  text-shadow:  0 0 6px rgba(60, 220, 255, 0.8);
		  margin: 10px;
		  padding:10px;
		  background-color: transparent;
		  color: #eee;
		}
		
		.btn {
		  padding: 5px 0;
		  background-color: var(--head);
		  position: ;
		  width: 100%;
		  height: 2em;
		  text-align: center;
		  font-family: helvetica, arial;
		  border: 2px solid #333;
		  border-radius: 3px;
		  font-size: 20%;
		}
		
		a {
		  text-decoration: none;
		  color: inherit;
		}
		
		a:hover {
			text-decoration: underline;
		}
		
		audio {
			background-color: #000;
			
		}
		
		
		.audio-table {
		  background-color: transparent;
		  text-shadow: var(--shat);
		}
		.table-wrapper {background-color: #3	d3d9d;}
		.audio-wrap { background-color: #000}
		
		
		
		