@import url(.web/assets/css/fontawesome-all.min.css);

:root {
	--dark: #303a3f;
    --darkcomp: #403630;
    --dark2:  #303340;
    --dark3: #30403D;

	--light: #0ef;
	--light2: #006eff;
    --light3: #00ff91;
	--lightcomp: #01f;
 

	--shaadio: 0 0 8px rgba( 120, 120, 120, 0.8),
	      inset 5px 5px 6px rgba(60, 120, 240, 0.8);
    --bluetransparent: rgba( 0, 180, 250, 0.6);
	--shad: 5px 3px 2px rgba(0, 0, 0, 0.8);
	--shat: 0 0 6px rgba (120, 120, 120, 0.8);
	--shat2: 0 0 6px rgba ( 20, 20, 20, 0.8);
	--shat3:  0 0 6px rgba(60, 220, 255, 0.8);
	
	--bdr: 3px solid rgba( 0, 180, 250, 0.4);
	--calc80: calc(100%-80px);
	--shadin: inset 3px 6px 3px  1px rgba(120, 220, 220, 0.4);
}

* {
	margin:  0;
	padding:0;
	box-sizing: border-box;
}

html {
	margin: 0 10px;
	padding: 0 0 20px 0;
}

body {
	        display: block;
	        box-shadow: var(--shaadio);
			margin: 0;
			text-align: center;
			background-color: var(--dark);
			justify-content: center;
			align-items: center;
			color: var(--light3);
		}
		
		body div {
		  color: var(--light2) ;
		  box-shadow: var(--shad);
		  text-shadow: var(--shat);
		}
		
		.canvas {
			border: 3px solid #0af;
			border-radius: 5px;
			background-color: rgba( 10, 58, 113, 0.4);
			color: #eee;
			/*overflow: hidden;*/
		}
		
		.display-none {
          display: none;
        }
		
		.canvas-wrap {
			margin: 8px 10px ;
		}
		
		canvas {
         width:100%;		 
		 background-color: transparent;
		}
		
	    .wrapper {
		  margin: 10px var(--calc80);
		  padding: 10px;
		}
	    .wrapper, .box {
		  position: relative;
		  width: Calc(100%- 20px);
		  /*height: 80vh;*/
		  text-shadow: var(--shat3) ;
		  border-radius: 10px;
		}
		
		.box {
		  background-color: var(--dark3);
		}
		
		h1, h2, h3, h4, h5, h6 {
		  box-shadow: inset 10px 5px 10px var(--bluetransparent);
		  text-shadow: var(--shat3);
		  padding:10px;
		  background-color: transparent;
		  color: var(--light3);
		}
		
		ul {
			list-style: none;
			display: flex;
		}
		
		ul li {
			display:  inline-flex;
		}
		
		.btn {
		  padding: 3 	px 3px;
		  background-color: var(--bluetransparent);
		  position: relative;
		  width: 100%;
		  height: 2em;
		  text-align: center;
		  font-family: helvetica, arial;
		  border: 2px solid var(--dark2);
		  border-radius: 3px;
		  font-size:  10px;
		  box-shadow: var(--shadin);
		}
		
		.btn:hover {
			background-color: var(--light3);
			box-shadow: var(--shadin), var(--shad);
		}
		
		a {
			padding: 3px 3px;
			font-weight: 600;
		  text-decoration: none;
		  color: var(--dark3);
		  text-shadow: var(--shat)
		}
		
		a:hover {
			text-decoration: underline;
		    text-shadow: var(--shat2);
			color: var(--dark2);
			box-shadow: var(--shaadio);
		}
		
		p {
			font-size:1em;
			color: var(--light3);
		}
		
		audio {
			background-color: var(--darkcomp);
			box-shadow: var(--shaadio);
		}
		
		
		.audio-table {
		  background-color: transparent;
		  text-shadow: var(--shat3);
		  box-shadow: var(--shad);
		}
		
		.table-wrapper {
			background-color: var(--bluetransparent);
		}
		.audio-wrap { 
		    background-color: var(--dark);
			color: var(--light3);
		}
		
		td {
			color: var(--light3);
		}
		
		.footer {
			color: var(--dark3);
		}
		
		.font1 {
		    font-family: helvetica, sans seriff;	
			background: transparent;
		}
		
		thead  td {
			color: var(--dark);
		}
		
		.bg1 {
			background: url('./images/bg2.jpg');
		}
		
		