/* https://kingbill404.github.io/assets/css/_format.css */

@import "./main.css";
@import "./_vars.css";
@import "./_textography.css";
:root {
    --bodybg: #32353a;
}

* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}

body {
    text-shadow: var(--shat);
    font-weight: 100;
    background-color: var(--bodybg);
    color: #eee;
    display: block;
    max-width: 90%;
    align-items: center;
}

.wrap {
    position: absolute;
    background-color: var(--wrapclr);
    box-shadow: var(--shadinout), 3px, 8px, 3px rgba(220, 220, 220, 0.6);
    margin: 0 3px;
    border: 3px solid var(--wrapborder);
    border-radius: 6px;
}

header {
    width: 80%;
    max-height: 200px;
    background-color: var(--bg);
}

ul {
    display: flexbox;
    list-style: none;
}

ol {
    list-style: none;
    display: block;
}

li {
    max-height: 40px;
    position: repeat-x;
    display: inline-flex;
}

nav li {
    position: relative;
}

article {
    display: block;
    padding: 10px;
    border: var(--article-bdr);
}

section {
    display: flex;
}

nav {
    padding: auto;
}

table {
    display: block;
}

.iframe-box {
    display: inline-block;
}