@import '_vars.css';

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

html {
    width: 100%;
}

body {
	        display: block;
	        box-shadow: var(--shaadio);
			margin: 0;
			text-align: center;
			background-color: var(--dark);
			justify-content: center;
			align-items: center;
			color: var(--light3);
		}
		
		body div {
		  color: var(--light2) ;
		  box-shadow: var(--shad);
		  text-shadow: var(--shat);
		}
		
		.canvas {
			border: 3px solid #0af;
			border-radius: 5px;
			background-color: rgba( 10, 58, 113, 0.4);
			color: #eee;
			/*overflow: hidden;*/
		}
		
		.display-none {
          display: none;
        }
		
		.canvas-wrap {
			margin: 8px 10px ;
		}
		
		canvas {
         width:100%;		 
		 background-color: transparent;
		}
		
	    .wrapper {
		  margin: 10px var(--calc80);
		  padding: 10px;
		}
	    .wrapper, .box {
		  position: relative;
		  width: Calc(100%- 20px);
		  /*height: 80vh;*/
		  text-shadow: var(--shat3) ;
		  border-radius: 10px;
		}
		
		.box {
		  background-color: var(--dark3);
		}
		
			ul li {
			display:  inline-flex;
		}
		
		