/* _vars.css */

@import 'main.css';
:root {
    --shag: 2px 3px 1px #111, 0 0 6px rgba(120, 120, 220, 0.8);
    --shat2: 0 0 6px rgba(20, 220, 120, 0.8);
    --shatin: inset 2px 3px 1px #111, inset 0 0 6px rgba(20, 20, 20, 0.6);
    --shat: 0 0 6px rgba(20, 20, 20, 0.8);
    --shat3: 8px 60 6px rgba(220, 220, 220, 0.8);
    --shadin: inset 0 0 6px rgba(255, 255, 255, 0.6);
    --shad: 0 0 10px rgba(61, 227, 61, 0.8);
    --hbdr: 6px solid rgba( 20, 220, 255, 0.6);
    --article-bdr: 6px solid rgba(20, 120, 20, 0.4);
    --navbtnclr: #3dd33d;
    --btnclr0: #252525;
    --btnclr1: #707f70;
    --btnclr2: #d3d3d3;
    --btnclr3: #3d3d3d;
    --btntext: rgba(61, 227, 61, 0.8);
    --tshathhover: 0 0 13px rgba(120, 120, 120, 0.6);
    --headercolor: rgba(80, 80, 80, 0.2);
    --btnshad: 3px 4px 0px 0px #899599, inset 0 0 6px rgba(120, 120, 120, 0.8);
    --endclrstr: #333;
    --wrapclr: rgba(60, 180, 120, 0.4);
    --hoverclr: #d2d;
    --bodybg: #333;
    --wrapborder: #3ddd3d;
    --greenbtn: inset 0 -15px 3px rgba(61, 120, 61, 0.8), inset 0px 10px 2px rgba(220, 220, 220, 0.6);
    --shat: 2px 3px 1px #111, 0 0 6px rgba(120, 120, 220, 0.8);
    --shadin: inset 0 0 6px rgba(255, 255, 255, 0.6);
    --shaglow: 0 0 10px rgba(61, 227, 61, 0.8);
    --hbdr: 6px solid rgba( 20, 220, 255, 0.6);
    --article-bdr: 6px solid rgba(20, 120, 20, 0.4);
    --headtext: #037323;
    --btnfull: rgba(20, 220, 120, 0.5);
    --pic0: url(../../images/bg.jpg);
    --pic1: url(../../images/bg2.jpg);
    --pic2: url(../../images/bg3.jpg);
    --tshathover: 0 0 3px rgba(120, 120, 120, 0.6);
    --headercolor: rgba(80, 80, 80, 0.2);
    --btnshad: 3px 4px 0px 0px #899599, inset 0 0 6px rgba(120, 120, 120, 0.8);
    --endclrstr: #333;
    --dark: #303a3f;
    --darkcomp: #403630;
    --dark2: #303340;
    --dark3: #30403D;
    --light: #0ef;
    --light2: #006eff;
    --light3: #00ff91;
    --lightcomp: #01f;
    --shaadio: inset 0 0 12px rgba( 120, 120, 120, 0.8), inset 5px -5px 6px rgba(60, 120, 240, 0.8);
    --bluetransparent: rgba( 0, 180, 250, 0.6);
    --shatd: 5px 3px 2px rgba(0, 0, 0, 0.8);
    --shaglo: 0 0 6px rgba (120, 120, 120, 0.8);
    --shat2: 0 0 6px rgba ( 20, 20, 20, 0.8);
    --shat3: 0 0 6px rgba(60, 220, 255, 0.8);
    --bdr: 3px solid rgba( 0, 180, 250, 0.4);
    --calc80: calc(100%-80px);
    --shadin: inset 2px -6px 2px rgba(220, 220, 220, 0.4), inset -10px 3px 1px rgba(20, 20, 20, 0.6);
}


/*
>>>>>>> dd44f9a9e4b54122a360c43238232f67f073e852*/