/* 
  FONTS.CSS
  ./assets/css/Fonts.css
 
 CONTENTS:
 Abril Fatface, abril One, Markazi Text
 */        
		
		@font-face {
            font-family: 'Abril Fatface';
            font-style: normal;
            font-weight: 400;
            src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v10/zOL64pLDlL1D99S8g8PtiKchq-dmiA.ttf) format('truetype');
        }
        
        @font-face {
            font-family: 'abril One';
            font-style: normal;
            font-weight: 400;
            src: local('abril One'), local('abrilOne-Regular'), url(https://fonts.gstatic.com/s/abrilone/v8/rax_HiWKp9EAITukFsl8Axha.ttf) format('truetype');
        }
        
        @font-face {
            font-family: 'Markazi Text';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/markazitext/v5/sykh-ydym6AtQaiEtX7yhqb_rV1k_81ZVYYZtfSQf4QvAQ.ttf) format('truetype');
        }
        