/* button_syles.css */
 
 .btn-style-2:visited {
            color: #e3e3e3
        }
        
        .btn-style-5:visited {
            color: #e3e3e3
        }
        
        .btn-style-1:visited {
            color: #e3e3e3
        }
        
        .btn-style-1 {
            background-color: #337ab7;
            display: inline-block;
            text-align: center;
            padding-right: 15px;
            border-radius: 8px;
            font-family: Arial;
            padding-left: 15px;
            padding-bottom: 5px;
            color: #ffffff;
            border-color: #000000;
            font-size: 20px;
            padding-top: 5px
        }
        
        .btn-style-2 {
            background-color: #5cb85c;
            display: inline-block;
            text-align: center;
            padding-right: 15px;
            border-radius: 7px;
            font-family: Times New Roman;
            padding-left: 15px;
            padding-bottom: 5px;
            color: #ffffff;
            border-color: #000000;
            font-size: 20px;
            padding-top: 5px
        }
        
        .btn-style-3 {
            background-color: #5bc0de;
            display: inline-block;
            text-align: center;
            padding-right: 15px;
            border-radius: 6px;
            font-family: Verdana;
            padding-left: 15px;
            padding-bottom: 5px;
            color: #ffffff;
            border-color: #000000;
            font-size: 20px;
            padding-top: 5px
        }
        
        .btn-style-4 {
            background-color: #f0ad4e;
            display: inline-block;
            text-align: center;
            padding-right: 15px;
            border-radius: 5px;
            font-family: Arial Black;
            padding-left: 15px;
            padding-bottom: 5px;
            color: #ffffff;
            border-color: #000000;
            font-size: 20px;
            padding-top: 5px
        }
        
        .btn-style-5 {
            background-color: #d9534f;
            display: inline-block;
            text-align: center;
            padding-right: 15px;
            border-radius: 4px;
            font-family: Impact;
            padding-left: 15px;
            padding-bottom: 5px;
            color: #ffffff;
            border-color: #000000;
            font-size: 20px;
            padding-top: 5px
        }
        
        .btn-style-5:hover {
            background-color: #d9534f;
            opacity: 1;
            text-decoration: none
        }
        
        .btn-style-6 {
            background-color: #616161;
            display: inline-block;
            text-align: center;
            padding-right: 15px;
            border-radius: 3px;
            font-family: Georgia;
            padding-left: 15px;
            padding-bottom: 5px;
            color: #ffffff;
            border-color: #000000;
            font-size: 20px;
            padding-top: 5px
        }
        
        .btn-style-2:hover {
            background-color: #5cb85c;
            opacity: 1;
            text-decoration: none
        }
        
        .btn-style-3:hover {
            background-color: #5bc0de;
            opacity: 1;
            text-decoration: none
        }
        
        .btn-style-4:hover {
            background-color: #f0ad4e;
            opacity: 1;
            text-decoration: none
        }
        
        .btn-style-6:visited {
            color: #ffffff
        }
        
        .btn-style-4:visited {
            color: #ffffff
        }
        
        .btn-style-1:hover {
            background-color: #337ab7;
            opacity: 1;
            text-decoration: none
        }
        
        .btn-style-6:hover {
            background-color: #616161;
            opacity: 1;
            text-decoration: none
        }
        
        .btn-style-3:visited {
            color: #ffffff
        }
